.Footer {
    background-color: #e11010;
    padding: 20px;
    margin-top: 80px;
  }
  
  .Footer-icons {
    display: flex;
    justify-content: center;
  }
  
  .Footer-icon {
    font-size: 24px;
    margin: 0 10px;
    color: #555555;
  }
  